*{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 600px;
    border: solid 1px #000;
    padding: 20px;
}
.game{
    &__wrap{
        h1{
            margin: 0 0 10px;
            .win{
                color: green;
            }
            .fail{
                color: red;
            }
        }
        &-line{
            display: flex;
            .txt{
                width: 100px;
            }
            &.time{
                margin: 5px 0;
            }
        }
        button{
            padding: 0 30px;
        }
        &-area{
            border: solid 1px #000;
            height: 500px;
            margin-top: 10px;
            position: relative;
            z-index: 2;
            .cir{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: solid 1px #000;
                font-weight: bold;
                cursor: pointer;
                position: absolute;
                left: var(--x);
                top: var(--y);
                background: #fff;
                &.active{
                    transition: .5s ease-in;
                    background: #d32929;
                    pointer-events: none;
                }
            }
        }
    }
}